doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Noom 
        main
            div#welcome
                form
                    input#roomname(placeholder="Room name", required, type=text)
                    input#nickname(placeholder="nickname", required, type=text)
                    button#enterBtn Enter Room
            div#call
                div#myStream
                    video#myVideo(autoplay, playsinline, width=400, height=400)
                    button#muteBtn Mute
                    button#cameraBtn Turn Camera Off
                    video#peersFace(autoplay, playsinline, width=400, height=400)
            div#chatting
                form
                    input(placeholder="Contents", required, type=text)
                    button Send
        script(src='/socket.io/socket.io.js')
        script(src="/public/js/app.js")  